*{
    box-sizing: border-box;
}

#sketchPad {
    height: 644px;
    width: 646px;
    border: solid;
    border-color: blue;
    box-shadow: 3px 3px 32px blueviolet;
    margin-right: 16px;
    margin-top: 16px;
    
}

.divBoxes {
    display: inline-grid;
    border-bottom: solid 0.1px;
    border-right:solid 0.1px ;
    margin-top:-2px;
    margin-bottom: -2px;
}

body {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}



